-# Copyright (C) 2007 Rising Sun Pictures and Matthew Landauer
-# 
-# This program is free software; you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation; either version 2 of the License, or
-# (at your option) any later version.
-# 
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-# 
-# You should have received a copy of the GNU General Public License
-# along with this program; if not, write to the Free Software
-# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

%p
  %table.listing#browser
    %thead
      %tr
<<<<<<< HEAD:app/views/browser/usages.html.haml
        %th.icon
=======
>>>>>>> b5fafa21a0210b64a0648614bcde1306faaccda9:app/views/browser/usages.html.haml
        %th.name.Server Server Name
<<<<<<< HEAD:app/views/browser/usages.html.haml
        %th.uid UID
=======
        %th.user UID
>>>>>>> b5fafa21a0210b64a0648614bcde1306faaccda9:app/views/browser/usages.html.haml
        %th.user User Name
        %th.size Space Usage
<<<<<<< HEAD:app/views/browser/usages.html.haml
=======
        %th/
>>>>>>> b5fafa21a0210b64a0648614bcde1306faaccda9:app/views/browser/usages.html.haml
    %tbody
      - @users_space_usages.each do |user_usage|
        %tr{:class => cycle('even', 'odd')}
<<<<<<< HEAD:app/views/browser/usages.html.haml
          %td.icon.Server= link_to "", :overwrite_params => {:server => Earth::Server.find_by_id(user_usage.server_id).name, :path => nil}
          %td.name.Server= link_to "<span>#{Earth::Server.find_by_id(user_usage.server_id).name}</span>", :overwrite_params => {:server => Earth::Server.find_by_id(user_usage.server_id).name, :path => nil}
          %td.uid= user_usage.uid
=======
          %td.name.Server= Earth::Server.find_by_id(user_usage.server_id).name
          %td.owner_user= user_usage.uid
>>>>>>> b5fafa21a0210b64a0648614bcde1306faaccda9:app/views/browser/usages.html.haml
          %td.owner_user= User.find(user_usage.uid).name
<<<<<<< HEAD:app/views/browser/usages.html.haml
          %td.size= ApplicationHelper.human_size_in(ApplicationHelper.human_units_of(user_usage.space_usage.to_i), user_usage.space_usage.to_i) +  " " + ApplicationHelper.human_units_of(user_usage.space_usage.to_i)
=======
          %td.size= ApplicationHelper.human_size_in(ApplicationHelper.human_units_of(user_usage.space_usage), user_usage.space_usage) +  " " + ApplicationHelper.human_units_of(user_usage.space_usage)
>>>>>>> b5fafa21a0210b64a0648614bcde1306faaccda9:app/views/browser/usages.html.haml
